streamlit==1.45.1
python-dotenv==1.1.0

langchain==0.3.25
langchain-core==0.3.61
langchain-community==0.3.24
langchain-text-splitters==0.3.8
langchain-huggingface==0.2.0
langchain-mistralai==0.2.10

faiss-cpu==1.11.0

sentence-transformers==4.1.0
huggingface-hub==0.32.0

openai-whisper==20250625

yt-dlp==2025.3.31

requests==2.32.3
numpy==1.26.4
pandas==2.2.3

protobuf==3.20.3