streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-mistralai

sentence-transformers
huggingface-hub

openai-whisper

yt-dlp

requests

tiktoken

protobuf==3.20.3

chromadb==0.5.5

pysqlite3-binary